<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816619090246-3ocgao9q6c2c5800dmnnmrsni4sci73v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816619090246-3ocgao9q6c2c5800dmnnmrsni4sci73v</string>
	<key>API_KEY</key>
	<string>AIzaSyAqpq1QLg7_KlMbNavCsPRomqc2R-Id6Hc</string>
	<key>GCM_SENDER_ID</key>
	<string>816619090246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Dantes.AlifJob</string>
	<key>PROJECT_ID</key>
	<string>alifjob-635da</string>
	<key>STORAGE_BUCKET</key>
	<string>alifjob-635da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816619090246:ios:1c27be71cf897c4d89f547</string>
</dict>
</plist>